*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Times New Roman, serif;
    background:#f2f2f2;
}

.container{
    width:85%;
    margin:20px auto;
    border:8px solid green;
    padding:10px;
}

header{
    background:#b7d2ea;
    border:4px solid yellow;
    padding:50px;
    text-align:center;
    margin-bottom:10px;
}

header h1{
    font-size:55px;
}

.main{
    display:flex;
    gap:10px;
}

.menu{
    width:15%;
    border:3px solid black;
    padding:10px;
}

.menu a{
    font-size:20px;
    color:blue;
    text-decoration:underline;
    margin-right:10px;
}

.content{
    width:50%;
    border:3px solid blue;
    padding:10px;
}

.image-text{
    display:flex;
}

.flag{
    width:280px;
    height:180px;
    background:#b7d2ea;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:100px;
    color:white;
}

.text{
    padding:15px;
    font-size:18px;
}

.content p{
    margin-top:15px;
    font-size:18px;
}

.table-section{
    width:35%;
    border:3px solid brown;
    padding:5px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid gray;
    padding:10px;
}

th{
    background:#f5f5f5;
}

footer{
    margin-top:10px;
    text-align:center;
    padding:35px;
    border:4px solid orange;
    font-size:20px;
}