body{
    background:yellow;
}
    

#wrapper{
    width:965px;
    margin:55px auto;
    background:lightcyan;
}

header{padding: 10px;
    background:#99ff;
    height:95px;
    text-align:center;
   
}
nav a:hover{
    color: yellow;
            background-color: navy;}
#content{
    display:flex;
}
.box{clear: both; color: rgb(200, 214, 214);border-bottom: 2px solid rgb(51, 134, 143); font-size: 24px;  box-shadow: 5px 5px 5px;background-color: red;}
#nav{
    width:150px;
    background-color:orange;
    padding:35px 25px;  
}
.h1{border: 5px dashed rgb(42, 91, 96); background-color: #a99999; margin-bottom: 20px;text-align: center;}


nav ul{
    list-style:none;
}

nav ul li{
    margin-bottom:8px;
}

nav ul li a{
    text-decoration:none;
    color:navy;
    font-size:18px;
}

.sawir img{width: 100px; height: 100px; float: left; margin-right: 3px;}
main{
    flex:1;
    padding:35px 15px;
}


footer{
    background:black;
    color:white;
    text-align:center;
    padding:8px;
    border-top:3px solid #8c6f40;
    border-bottom:3px solid #8c6f40;
}